on property:vendor.kpdpwr.reset.enabled=0
    write /sys/bus/platform/devices/c440000.qcom,spmi:qcom,pm6150@0:qcom,power-on@800/kpdpwr_reset 0

on property:vendor.kpdpwr.reset.enabled=1
    write /sys/bus/platform/devices/c440000.qcom,spmi:qcom,pm6150@0:qcom,power-on@800/kpdpwr_reset 1
